<link href="css/style.css" rel="stylesheet">

<ion-view view-title="LingoBuddy">

    <ion-content>

      <div style="background-color: lightgoldenrodyellow">

          </br></br>
            <h1 style="color: darkmagenta; text-align:center ">Expandable section here!!</h1>
          </br></br>
      </div>


        <button class="button button-full button-calm">
            <i class="icon ion-ios7-person"></i>  User Preferences
        </button>

        <button class="button button-full button-balanced" >
             <i class="icon ion-eye"></i> View History
        </button>

        <button class="button button-full button-energized" >
             <i class="icon ion-stats-bars"></i> View Stats
        </button>

          <button class="button button-full button-positive" >
              <i class="icon ion-ios7-telephone"></i>  Phone Buddy
          </button>

        <!-- Uncomment for list from controller!!

        <ion-list>
            <ion-item ng-repeat="section in lingophone" href="#/app/lingophone/{{section.id}}">
                {{section.title}}
            </ion-item>
        </ion-list>
        -->
    </ion-content>
</ion-view>


